{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
    <div class="hero-container">
        <div class="govuk-width-container">
            <div class="govuk-main-wrapper">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <div class="hero-container--search">
                            {% include 'search_partial.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="govuk-width-container">

        <main class="govuk-main-wrapper" id="main-content">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    <h2 class="govuk-heading-m">
                        Recent activity
                    </h2>

                    {% for post in recent %}
                        <h4 class="govuk-heading-m govuk-!-margin-bottom-1 article-list__title">
                            <a class="govuk-link"
                               href="{% pageurl post %}">{{ post.title }}</a>
                        </h4>
                        <p class="govuk-body-s govuk-!-margin-bottom-1">

                            <span class="article-author">
                                {{ post.owner.first_name }} {{ post.owner.last_name }}
                            </span>
                            <span class="article-date">
                                {{ post.date|date:"d/m/Y" }}
                            </span>
                        </p>
                        {% if post.intro %}
                            <p class="govuk-body article-list__short-description">
                                {{ post.intro }}
                            </p>
                        {% endif %}
                    {% endfor %}

                </div>
                <div class="govuk-grid-column-one-third govuk-!-padding-left-7">

                    {% for category in child_categories %}
                        <h2 class="govuk-heading-s">
                            <a href="{{ category.url }}" class="govuk-link--no-visited-state">
                                {{ category.title }}
                            </a>
                        </h2>
                        <p class="govuk-body">
                            {{ category.intro }}
                        </p>
                    {% endfor %}

                </div>
            </div>
        </main>
    </div>
{% endblock %}

