{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-articlepage{% endblock %}

{% block breadcrumbs %}
    <div>Noop</div>
{% endblock %}

{% block content %}

    <div class="govuk-width-container">

        <main class="govuk-main-wrapper" id="main-content">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h1 class="govuk-heading-l">{{ page.title }}</h1>
                </div>
            </div>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">

                    <p class="govuk-body">{{ page.authors }} {{ page.date }}</p>

                    <p class="govuk-body-lead">{{ page.intro }}</p>

                    {{ page.body }}

                </div>
            </div>
        </main>
    </div>

{% endblock %}